.weather-card {
  background-color: rgba(3, 3, 3, 0.1);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  width: 145px;
  height: 300px;
  transition: transform 0.2s ease;
}
.weather-card h4{
    margin-top: 1.5rem;
}
.weather-card:hover {
  transform: translateY(-5px);
}

.weather-card img {
  width: 60px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.weather-card p{
    margin-bottom: 1rem;
}
